.gs {
    width: 640px;
    height: 400px;
    margin: auto;
    border: 50px solid #AAAAAA;
    position: relative;
}

h1 {
 text-align:  center;
    color: lawngreen;
    font-family: monospace;
}
embed {
    visibility: hidden;
}
.gs canvas {
    width: 100%;
    height: 100%;
    border: 0;

}

.b {
    position: absolute;
    right: 0;
    bottom: -40px;
    color: greenyellow;
    font-size: 20px;

}

.menu, #loader, #finished {
    width: 100%;

    position: absolute;
    top:0;
    bottom: 0;
    text-align: center;
    color: white;
    background-color: #222;
    text-transform: uppercase;
    font-family: monospace;

}
.menu {
    display: none;
}

#loader {


}
#loader h1 {
    animation-iteration-count:infinite;
    animation-name: fadeinout;
    animation-duration: 2s;
    animation-timing-function: ease-in;

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -15px;
    text-align: center;
    line-height: 100%;
}


.menu input {
    display:none;
}

.coloroption canvas {
    width: 14%;
    box-sizing: border-box;
}
.mapoption canvas {
    width: 20%;
    box-sizing: border-box;
}

h3 {
    color: #adff2f;
    margin-bottom: 5px;
}
input:checked + label canvas {
    /*background-color: yellow;*/
}
input:checked + label {
    border-bottom: 4px solid #adff2f;
}
label {

}

.lapoption {
    font-size: 30px;
    padding: 0 20px;
}
.section {
    margin-bottom: 20px;
}

.menu a, #finished a {
    padding: 5px 15px;
    text-decoration: none;
    font-size: 20px;
}

h2 {
    margin-top:0;
}

h2,.menu a, #finished a {
    background-color: #adff2f;
    color:#444;
    font-weight: bold;
}


body {
    background-color: #444;
}

.countdown {
    display: none;
    animation-delay: 4s;
    animation-name: fadeout;
    animation-duration: 0.2s;
    background-color: rgba(32,32,32,0.5);

    height: 20%;
    position:absolute;
    top: 20%;
    left:0;
    right: 0;
    z-index: 100;
    vertical-align: middle;

}
.countdown * {
    vertical-align: middle;
}

.countdown h1 {
    color: white;
    font-size:0;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-name: zoomin;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    vertical-align: middle;
    text-shadow: black 2px 2px;
}
.countdown h1:nth-child(2) {
    animation-delay: 1s;
}

.countdown h1:nth-child(3) {
     animation-delay: 2s;
}

.countdown h1:nth-child(4) {
    animation-delay: 3s;
}

@keyframes fadeout {
    from {
        opacity: 1;
        background-color: rgba(255,255,255,1);
    }
    to {
        background-color: rgba(255,255,255,0);
        opacity: 0;
    }
}
@keyframes zoomin {
    from {
        font-size: 0;

    }
    99% {
        font-size: 50px;
    }
    to {
        font-size: 0;
    }
}

@keyframes fadeinout {
    from { opacity: 0; }
    50% { opacity: 1;}
    to {opacity: 0; }
}

#toggleMusic {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 70px;
}

#toggleMusic.muted {
    text-decoration: line-through;
    opacity: 0.5;
}

#finished {
    top: 18%;
    bottom: 18%;
    width:auto;
    left: 10%;
    right:10%;
    background-color: rgba(64,64,64,0.98);
    z-index: 150;
    display: none;
}

#finished dl {
    width: 400px;
    margin: 10px auto;
}

#finished dt,dd {
    width: 50%;
    float: left;
    margin:0;
    box-sizing: border-box;
    font-size: 25px;
    text-transform: none;
    padding-top: 10px;
}

dt {
    color: #adff2f;
}

dd {
  font-size: 35px;
}

