.gs {
    width: 640px;
    height: 400px;
    margin: auto;
    border: 50px solid #AAAAAA;
    position: relative;
}

h1 {
 text-align:  center;
    color: lawngreen;
    font-family: monospace;
}
img {
    display:none;
}
.gs canvas {
    width: 100%;
    height: 100%;
    border: 0;

}

.b {
    position: absolute;
    right: 0;
    bottom: -40px;
    color: greenyellow;
    font-size: 20px;

}
body {
    background-color: #444;
}